<h1>Olá usuário do FinDetector!</h1>

<p>Para redefinir sua senha, visite o seguinte link <a href="{{url}}/update-password?token={{resetToken.token}}">{{url}}/update-password?token={{resetToken.token}}</a>.</p>

<p>Este link irá expirar em {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>